{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Frisky - Landing Page</title>
    <link rel="stylesheet" href="{%  static 'css/index.css' %}" />
  </head>
  <body>
    <div class="section1">
      <div class="headerSection">
        <div class="imageDiv">
          <img
            src="{% static 'images/logo.png' %}"
            alt="Frisky Logo"
            class="Logo"
          />
        </div>
        <img src="{%  static '/images/$Frisky.png' %}" class="frisky" />
      </div>
      <div class="innerSection2">
        <img src="{%  static 'images/$Frisky.png' %}" class="frisky2" />
        <a class="about">About</a>
      </div>
      <div class="innerSection3">
        <p class="intro">
          $Frisky is a killer meme coin on the Solana network inspired by
          Jeffrey Dahmer’s Dog. We all know Jeffrey Dahmer got caught but we
          never knew who the mastermind behind it all. He may seem cute but his
          intentions are just the opposite.
        </p>
        <div class="intro2">
          <p class="intro3">Man’s best friend turned mans worst nightmare</p>
        </div>
      </div>
    </div>
    <div class="section3">
      <div class="innerSection3">
        <a class="buy-here">BUY HERE</a>
      </div>
      <div class="innerSection4">
        <a href="https://x.com/Friskycoin"
          ><img src="{%  static 'images/x.png' %}" class="xLogo"
        /></a>
        <a href="https://t.me/+gcFzK1kpHvk1MTRh"
          ><img
            src="{%  static 'images/logos_telegram.png' %}"
            class="telegramLogo"
        /></a>
      </div>
      <div class="innerSection4">
        <img src="{%  static 'images/$Frisky2.png' %}" class="frisky2" />
      </div>
    </div>
    <div class="imageSection">
      <img src="{%  static 'images/block1.png' %}" class="block1" />
      <img src="{%  static 'images/block2.png' %}" class="block2" />
    </div>
    <div class="imageSection2">
      <img src="{%  static 'images/block3.png' %}" class="block3" />
    </div>
    <div class="imageSection2">
      <img src="{%  static 'images/block4.png' %}" class="block4" />
      <img src="{%  static 'images/block5.png' %}" class="block5" />
    </div>
    <div class="section4">
      <img src="{%  static 'images/Tokenomics.png' %}" class="tokenomics" />
    </div>
    <div class="section4">
      <div class="section4">
        <div class="profileDiv">
          <img
            src="{%  static 'images/Screenshot 2024-06-29 112748 1.png' %}"
            alt="Frisky Logo"
            class="profile"
          />
        </div>
        <p class="WriteUP">Total Supply</p>
      </div>
      <div class="section4">
        <div class="section4">
          <div class="profileDiv">
            <img
              src="{%  static 'images/Screenshot 2024-06-29 112748 1.png' %}"
              alt="Frisky Logo"
              class="profile"
            />
          </div>
          <p class="WriteUP">LP Burned</p>
        </div>
        <div class="section4">
          <div class="section4">
            <div class="profileDiv">
              <img
                src="{%  static 'images/Screenshot 2024-06-29 112748 1.png' %}"
                alt="Frisky Logo"
                class="profile"
              />
            </div>
            <p class="WriteUP">Tax</p>
            <p class="WriteUP2">0%</p>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="section5">
        <p style="font-size: 20px; font-weight: 900">
          ©2024 $FRISKY, All Right Reserved.
        </p>
      </div>
    </footer>
  </body>
</html>
